
/* Schedule */
table.schedule a {
    color: white;
}

table.schedule span.speaker a {
    color: black;
    font-style: italic;
}

table.schedule span.speaker a:hover {
    color: white;
}

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../img/rating.png);
    height: 21px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover
{
    background: url(../img/rating.png) left -42px;
}

.rateit .rateit-selected
{
    background: url(../img/rating.png) left -21px;
}

.rateit .rateit-preset
{
    background: url(../img/rating.png) left -63px;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -21px;
}

#comments form div {
    clear: left;
}

#comments form input {
    margin-top: 1em;
}

#comments div#rating_value {
    clear: none;
    font-size: 80%;
    font-weight: bold;
    height: 2em;
}

.apps img {
    border: 1px solid #ccc;
}

.apps {
    margin-bottom: 10px;
}

.event .logo {
    float: left;
    margin-top: 6px;
    padding: 0 10px;
    width: 90px;
}

.event .description {
    postion:relative;
    margin-left: 90px;
}

.event .logo img {
    width: 100%;
}

.event.pending-event .controls {
    float: left;
    margin-top: 6px;
    padding: 0 10px;
    width: 150px;
}

.event.pending-event .description {
    margin-left: 150px;
}

.event.pending-event form button {
    width: 100%;
    margin-bottom: 5px
}