<div class="row">
    <div class="span4">
        <h3><a href="/talk/view/3582">How to Stand on the Shoulders of Giants</a></h3>
        <img class="rating rating-5" src="/inc/img/rating-5.gif" alt="Rating: 5 of 5" height="21" width="117" />

        <p class="opts">
            at <a href="/event/view/677">PHP North West 2011</a> |
            <a href="/talk/view/3582#comments">65 comments</a> |
            <a href="/user/view/291">Ian Barber</a>
        </p>
    </div>
</div>
