<section class="comment">
    <h3>
        {% include '_common/rating.html.twig' with {'rating': comment.getRating} %}
        by <a href="#">{{ comment.getUserDisplayName }}</a> on {{ comment.getCommentDate|date('l jS \o\f F Y h:i:s A') }}
    </h3>
    <div class="clearfix"></div>
    <p>{{ comment.getComment }}</p>
    <hr/>
</section>
{#<pre>#}
{#{{ dump(comment) }}#}
{#</pre>#}