<div class="rating rating-{{ rating }}">
    <img src="/img/rating-{{ rating }}.gif"
         title="Rated {{ rating }}"
         class="float"
         width="117" height="21" alt="Rated {{ rating }}"/>
</div>
