{%  if (rating) %}
    <div class="rating rating-{{ rating }}">
        <img src="/img/avg-rating-{{ rating }}.png"
             title="Rated {{ rating }}"
            width="156" height="28" alt="Rated {{ rating }}"/>
    </div>
{% endif %}