<div class="rating-{{ rating }} rating float">
    <img src="/img/rating-{{ rating }}.gif"
         title="Rated {{ rating }}"
         class="float"
         width="117" height="21" alt="Rated {{ talk.getAverageRating }}"/>
</div>
