{% extends '/layout.html.twig' %}

{% use '/Talk/_common/form.html.twig' %}

{% block body %}
    {% if user %}
        <style>
            label.required:after {
                content: ' *'
            }
        </style>
        <h1 class="title">Edit {{ talk.name }}</h1>
        <p>
            Edit your talk for the event here. The site is aimed at events with sessions, where organisers are looking to
            use this as a tool to gather feedback.
        </p>
        <p>
            Please supply a description of your talk in English; you may
            <a href="{{ urlFor('about') }}">contact us</a> if you have any questions.
        </p>
    {% endif %}
    {{ block('forms') }}
{% endblock %}

{% block extraAside %}
    {% if user %}
        <section>
            <h3>Submission tips</h3>
            <p>
                Here's a few tips for submitting events:
            </p>
            <dl>
                <dt>English</dt>
                <dd>
                    Please ensure that the description is in English with a translation below if appropriate.
                    Events without a meaningful description won't be approved.
                </dd>
            </dl>
            <dl>
                <dt>Map</dt>
                <dd>
                    Add the venue location to get a map on the website and apps so people can find you on the day.
                </dd>
            </dl>
            <dl>
                <dt>Call for Papers</dt>
                <dd>
                    If your event has a call for papers, add a link to it and the dates when it will be open.
                </dd>
            </dl>
        </section>
    {% endif %}
{% endblock %}
