{% extends '/layout.html.twig' %}

{% block body %}
    <p>
        Welcome to joind.in! This is the site where event attendees
        can leave feedback on an event and its sessions. Do you have
        an opinion? Then
        <a href="/user/register">register an account</a> and share it!
    </p>

    <h2 class="title">Hot Events</h2>

    <div class="row highlights">
        <div class="span8">
            <div>
                {% for event in hot_events %}
                    {% include 'Application/_summary.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}