{% extends '/layout.html.twig' %}

{% block body %}
<h2 class="title">Login</h2>
<p>Please log in here. If you do not have an account, please
<a href="{{ urlFor('user-register') }}">register</a>.
</p>
<div>
    <form id="login" method="POST" action="{{ urlFor('user-login') }}">
    <div>
    {% if error %}
        <p class="error">Failed to log in.</p>
    {% endif %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autofocus="autofocus">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label>&nbsp;</label>
        <input type="submit" value="Log in">
    </div>
    </form>
</div>
{% endblock %}
