{% extends '/layout.html.twig' %}

{% block body %}
        <style>
            label.required:after {
                content: ' *'
            }
        </style>

        <h1 class="title">Password reset</h1>
        <p>Choose a new password</p>

        {{ form_start(form, {'attr' : {'id' : 'event'} }) }}
        {{ form_errors(form) }}
        <div class="row">
            <fieldset class="col-sm-12">
                {{ form_row(form.password) }}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary pull-right" value="Reset password" />
            </div>
        </div>
        {{ form_end(form) }}
{% endblock %}

{% block extraAside %}
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_javascript %}
{% endblock %}
