body {
    padding-top: 50px;
}

.navbar-default {
    background-image: none;
    background-color: white;
    border-radius: 0px;
    border-bottom: 2px solid #007b97;
}

nav.navbar a.navbar-brand img {
    margin-top: -0.3em;
    max-height: 95%;
}

h1 {
    border-bottom: 1px solid #d7dcdf;
    color: #f90;
    font-weight: normal;
    margin-bottom: 16px;
}

aside {
    background-color: #E3E3E3;
}

aside section {
    margin-top: 1em;
}

ul.pagination li.current a, ul.pagination li.current a:hover, ul.pagination li.current a:active {
    background-color: transparent;
    color: inherit;
    cursor: default;
}

footer .navbar-default {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}

footer div.row {
    margin: 1em;
}

.event .logo {
    padding-top: 1em;
}

.ratings {
    margin-bottom: 1em;
}

.comment h3 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 1.5em;
}

.comment h3 .meta {
    margin-top: 0.3em;
}

.comment h3 .meta small {
    display: block;
    font-size: 60%;
}

.comment h3 .rating {
    margin-top: 0.5em;
}

.comment .avatar img {
    -webkit-border-radius: 50%; /* Can also be 55px */
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 0.2em;
    margin-left: 0.5em;
}

.key {
    padding: 0.5em;
    color: white;
    text-align: center;
}

.talk-type-talk {
    background-color: #5A8EC3;
}

.talk-type-keynote {
    background-color: #C799CE;
}

.talk-type-workshop {
    background-color: #F69159;
}

.talk-type-socialevent {
    background-color: #CAAD90;
}

.talk-type-eventrelated {
    background-color: #5BB068;
}
/* A special case that lets us put the talk type as a label */
.talk-type-label {
    padding: 4px;
    font-size: 8pt;
}

table.schedule a {
    color: white;
}

table.schedule a span.speaker {
    color: black;
    font-style: italic;
}

table.schedule a:hover span.speaker {
    color: white;
}

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../img/rating.png);
    height: 21px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover
{
    background: url(../img/rating.png) left -42px;
}

.rateit .rateit-selected
{
    background: url(../img/rating.png) left -21px;
}

.rateit .rateit-preset
{
    background: url(../img/rating.png) left -63px;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -21px;
}

#comments form div {
    clear: left;
}

#comments form input {
    margin-top: 1em;
}

#comments div#rating_value {
    clear: none;
    font-size: 80%;
    font-weight: bold;
    height: 2em;
}

.apps img {
    border: 1px solid #ccc;
}

.apps {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .event .logo img {
        max-width: 150%;
    }

    .pull-right-xs {
        float: right;
    }

    .pull-left-xs {
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .pull-right-sm {
        float: right;
    }

    .pull-left-sm {
        float: left;
    }
}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }

    .pull-left-md {
        float: left;
    }
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }

    .pull-left-lg {
        float: left;
    }
}

form {
    margin: 0 0 10px;
}

form ul.errors {
    padding-left: 0;
    list-style-type: none;
    color: #d9534f;
}

<<<<<<< HEAD
.commented-on {
    font-style: italic;
=======
.comment:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
>>>>>>> mgdm-491-comment-links
}
