/*
 * Joind.in
 * Colours:
 *   Blue: #317a95
 *   Orange: #f90
 *   Darker orange, for highlights: #f80
 *   White: #fff
 *   Dark grey, for body copy: #333
 *   Light grey, for highlights: #d7dcdf
 *
 * Table of Contents:
 *   - Reset
 *   - Layout/Structure
 *   - Objects
 */

/* Reset
 * Based on Eric Meyer's Reset v2: http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RateIt CSS */
.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../img/rating.gif);
    height: 21px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover
{
    background: url(../img/rating.gif) left -42px;
}

.rateit .rateit-selected
{
    background: url(../img/rating.gif) left -21px;
}

.rateit .rateit-preset
{
    background: url(../img/rating.gif) left -63px;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -21px;
}

.rating-vote-container #content_rating_container, .rating-vote-container #speaker_rating_container {
    float: left;
    clear: none;
}

.rating-vote-container #speaker_rating_container {
    margin-left: 2em;
}

.rating-vote-container label {
    clear: left;
}

#comments form div {
    clear: left;
}

#comments form input {
    margin-top: 1em;
}

#comments div#content_rating_value, #comments div#speaker_rating_value {
    clear: none;
    font-size: 80%;
    font-weight: bold;
    height: 2em;
}

/* End of RateIt CSS */

/*------------------------------------*\
 * Base typography and colours
\*------------------------------------*/
body {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 8px;
}

a {
    color: #317a95;
    text-decoration: underline;
}

p {
    padding-bottom: 1ex;
}

h2 {
    font-size: 16px;
    line-height: 200%;
}


/*------------------------------------*\
 * Layout/Structure
\*------------------------------------*/

#head {
    border-bottom: 1px solid #317a95;
    margin: 0 0 12px;
    padding: 8px;
}

#foot {
    border-top: 1px solid #317a95;
    margin: 0 0 12px;
    padding: 8px;
    text-align: right;
}

#login {
    margin-top: 2em;
    margin-bottom: 2em;
}

#login label {
    width: 75px;
    display: inline-block;
}

nav li a {
    display: block;
    border-top: 1px solid #d7dcdf;
    padding: 4px;
    text-decoration: none;
    vertical-align: middle;
}
nav li:first-child a {
    border: 0
}

#head .userdetails {
    float: right;
    padding: 4px;
    vertical-align: middle;
}
#head .userdetails a {
    text-decoration: none;
}


@media only screen and (min-width: 275px) {
    nav li, #head .userdetails {
        display: table-cell;
        vertical-align: middle;
    }
    nav li a, #head .userdetails a {
        border: 0;
        display: inline;
        padding: 0 16px 0 0;
    }
}

nav a:hover, #head .userdetails a:hover {
    text-decoration: underline;
}

#content nav {
    padding-bottom: 24px;
}


#wrapper {
    display: table;
    max-width: 960px;
    width: 100%;
}

.wideOnly {
    display: none;
}


@media only screen and (min-width: 690px) {
    #content {
        display: table-cell;
    }

    #aside {
        display: table-cell;
        padding-left: 16px;
        width: 216px;
    }

    .wideOnly {
        display: block;
    }

    .media .logo img {
        height: 90px !important;
        width: 90px !important;
    }

}

.logo {
    float: left;
    padding-right: 8px;
}

.extraAside {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    margin-top: 8px;
}


/* Ratings */
.rating {
    width: 120px;
}

/* Comments */
#comments {
    background-color: #d7dcdf;
    margin: 8px 0;
    padding: 8px
}

#comments li {
    border-top: 1px solid #333;
    list-style: none;
    padding-top: 8px;
}

#comments section {
    min-width: 183px; /* Makes the left-most column lined up */
    padding-left: 1em;
}

#comments section .rating-container {
    background-color: #E3E3E3;
    padding: 1em 1em 0em;
    margin-bottom: 1em;
    cursor: pointer;
}

#comments section .rating-container .rating-details {
    display: none;
}

#comments section .rating-container:hover .rating-details {
    display: block;
}

#comments section .rating-container label {
    display: block;
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
}

#comments section .rating-container img {
    padding-bottom: 1em;
}

#add-comment {
    margin-bottom: 10px;
}

#add-comment label {
    display:block;
    font-size: 11px;
}

#add-comment textarea {
    width: 30em;
    height: 5em;
}

/* Schedule table */
.table table, .table table#key {
    width: 900px;
    margin-bottom: 35px;
}

.table table th, .table table td {
    border: 1px solid white;
}

.table table th {
    background-color: lightgrey;
    border: 1px solid white;
    text-align:center;
    font-weight: normal;
    vertical-align: middle;
    padding: 3px 0;
}

.table table td {
    color: black;
    padding-top: 3px;
    padding-left: 3px;
}

.table td.time {
    width: 7%;
    background-color: lightgrey;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    color:black;
}

.table td a {
    color: white;
    text-decoration: none;
}

.table td a span.speaker {
    font-style: italic;
    font-size: 1em;
    color: black;
}

.table td a:hover {
    color: black;
}

.table td a:hover span.speaker {
    color: white;
}

.table h1 {
    margin-bottom: 10px;
    color: #555555;
    font-size: 22px;
    font-weight: normal;
}

.table table#key td {
    color: white;
    width: 20%;
    text-align: center;
}

/*------------------------------------*\
 * Objects
\*------------------------------------*/

.respImage {
    max-width: 100%;
}

.button {
    background-color: #f90;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    padding: 2px 4px 3px 4px;
    text-decoration: none;
}
.button:hover {
    background-color: #f80;
}

.title {
    border-bottom: 1px solid #d7dcdf;
    color: #f90;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 16px;
}

.meta {
    font-size: 10px;
}

/* Talk type highlights */
.talk-type-talk {
    background-color: #5A8EC3;
}

.talk-type-keynote {
    background-color: #C799CE;
}

.talk-type-workshop {
    background-color: #F69159;
}

.talk-type-socialevent {
    background-color: #CAAD90;
}

.talk-type-eventrelated {
    background-color: #5BB068;
}
/* A special case that lets us put the talk type as a label */
.talk-type-label {
    padding: 4px;
    font-size: 8pt;
}



/** Media Element: Meta stuff to the left, more detailed stuff to the right **/

.media {
    clear: both;
    width: 100%;
}

.media:first-child {
}

.media .logo {
    /* Don't show if the viewport is too narrow, it looks silly otherwise */
    display: none;
}

@media only screen and (min-width: 299px) {
    /*
        299
      = 275 (width of when nav looks good on one line)
      - 16  (whitespace in media content:
             3 x 8px padding: one each side, one between columns)
    */
    .media .logo {
        display: inline;
    }

    .media .logo img {
        height: 45px;
        width: 45px;
    }

    .media section {
        display: table-cell;
        padding: 8px 8px 8px 0;
    }
}

.media .header {
    font-size: 16px;
}

#paginator {
    margin: 0 auto;
    width: 255px;
}

#paginator li {
    text-align: center;
    list-style: none;
    float: left;
    width: 75px;
    padding: 5px;
    display: block;
}

.error {
    color: #c00;
    margin: 10px auto;
}

.message {
    color: #f80;
    margin: 10px auto;
}
