/*
 * Joind.in
 * Colours:
 *   Blue: #2368af
 *   Orange: #f90
 *   Darker orange, for highlights: #f80
 *   White: #fff
 *   Dark grey, for body copy: #333
 *   Light grey, for highlights: #d7dcdf
 *
 * Table of Contents:
 *   - Reset
 *   - Layout/Structure
 */

/* Reset
 * From Eric Meyer's Reset v2: http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
 * Base typography and colours
\*------------------------------------*/
body {
    color: #333;
    font-family: Helvetica;
    font-size: 14px;
}

a {
    color: #2368af;
    text-decoration: underline;
}

p {
    padding-bottom: 2ex;
}

/*------------------------------------*\
 * Layout/Structure
\*------------------------------------*/

#head {
    background: rgb(187,218,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(187,218,249,1) 0%, rgba(204,229,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,218,249,1)), color-stop(100%,rgba(204,229,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(187,218,249,1) 0%,rgba(204,229,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(187,218,249,1) 0%,rgba(204,229,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(187,218,249,1) 0%,rgba(204,229,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(187,218,249,1) 0%,rgba(204,229,255,1) 100%); /* W3C */
    border-bottom: 1px solid #2368af;
    padding: 8px 8px 0 8px;
    margin-bottom: 12px;
}

#login {
    display: none; /* For now @TODO Finish */
}

#menu li {
    background-color: #fff;
    display: inline-block;
    margin: 0 8px 8px 0;

    /* So that the tabs reach to the bottom of the header bg */
    position: relative;
    top: 1px;
}

#menu a {
    border: 1px solid #2368af;
    color: #000;
    display: block;
    padding: 7px;
    text-decoration: none;
}

#menu a:hover {
    color: #2368af;
}

/* Make the buttons less tab-like if they start to wrap */
@media only screen and (min-width: 406px) {
    #menu li {
        margin-bottom: 0;
    }

    #menu a {
        border-bottom: 0;
    }
}

#wrapper {
    display: table;
    margin: 8px auto;
    padding: 0 8px;
    max-width: 960px;
}

.wideOnly {
    display: none;
}


@media only screen and (min-width: 690px) {
    #content {
        display: table-cell;
    }

    #aside {
        display: table-cell;
        padding-left: 16px;
        width: 216px;
    }

    .wideOnly {
        display: block;
    }
}

/*------------------------------------*\
 * Objects
\*------------------------------------*/

.respImage {
    max-width: 100%;
}

.button {
    background-color: #f90;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.8ex 0.5ex 0.5ex;
    text-decoration: none;
}
.button:hover {
    background-color: #f80;
}

.title {
    border-bottom: 1px solid #d7dcdf;
    color: #f90;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 16px;
}

.meta {
    font-size: 10px;
}

/** Event card **/

.eventCard {
    border-bottom: 1px solid #d7dcdf;
    clear: both;
    margin-bottom: 16px;
    min-height: 100px;
    padding-bottom: 16px;
}

.eventCard .logo {
    border: 5px solid #d7dcdf;
    float: left;
    height: 90px;
    margin-right: 8px;
    width: 90px;

    /* Don't show if the viewport is too narrow, it looks silly otherwise */
    display: none;
}

@media only screen and (min-width: 260px) {
    .eventCard .logo {
        display: inline;
    }
}

.eventCard .header {
    font-size: 16px;
}

/** Box **/
.box {
    border: 1px solid #d7dcdf;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
}