/*
 * Joind.in
 * Colours:
 *   Blue: #317a95
 *   Orange: #f90
 *   Darker orange, for highlights: #f80
 *   White: #fff
 *   Dark grey, for body copy: #333
 *   Light grey, for highlights: #d7dcdf
 *
 * Table of Contents:
 *   - Reset
 *   - Layout/Structure
 *   - Objects
 */

/* Reset
 * Based on Eric Meyer's Reset v2: http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
 * Base typography and colours
\*------------------------------------*/
body {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 8px;
}

a {
    color: #317a95;
    text-decoration: underline;
}

p {
    padding-bottom: 0.5ex;
}

h2 {
    font-size: 16px;
    padding-top: 8px;
}


/*------------------------------------*\
 * Layout/Structure
\*------------------------------------*/

#head {
    border-bottom: 1px solid #317a95;
    margin: 0 0 12px;
    padding: 8px;
}

#foot {
    border-top: 1px solid #317a95;
    margin: 0 0 12px;
    padding: 8px;
    text-align: right;
}

#login {
    margin-top: 2em;
    margin-bottom: 2em;
}

#login label {
    width: 75px;
    display: inline-block;
}

nav li a {
    display: block;
    border-top: 1px solid #d7dcdf;
    padding: 4px;
    text-decoration: none;
    vertical-align: middle;
}
nav li:first-child a {
    border: 0
}

#head .userdetails {
    float: right;
    padding: 4px;
    vertical-align: middle;
}
#head .userdetails a {
    text-decoration: none;
}


@media only screen and (min-width: 275px) {
    nav li, #head .userdetails {
        display: table-cell;
        vertical-align: middle;
    }
    nav li a, #head .userdetails a {
        border: 0;
        display: inline;
        padding: 0 16px 0 0;
    }
}

nav a:hover, #head .userdetails a:hover {
    text-decoration: underline;
}

#content nav {
    padding-bottom: 24px;
}


#wrapper {
    display: table;
    max-width: 960px;
    width: 100%;
}

.wideOnly {
    display: none;
}


@media only screen and (min-width: 690px) {
    #content {
        display: table-cell;
    }

    #aside {
        display: table-cell;
        padding-left: 16px;
        width: 216px;
    }

    .wideOnly {
        display: block;
    }

    .eventCard .logo img {
        height: 90px !important;
        width: 90px !important;
    }

}

.logo {
    float: left;
    padding-right: 8px;
}

/*------------------------------------*\
 * Objects
\*------------------------------------*/

.respImage {
    max-width: 100%;
}

.button {
    background-color: #f90;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.8ex 0.5ex 0.5ex;
    text-decoration: none;
}
.button:hover {
    background-color: #f80;
}

.title {
    border-bottom: 1px solid #d7dcdf;
    color: #f90;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 16px;
}

.meta {
    font-size: 10px;
}

/** Event card **/

.eventCard {
    clear: both;
}



.eventCard .logo {
    /* Don't show if the viewport is too narrow, it looks silly otherwise */
    display: none;
}

@media only screen and (min-width: 299px) {
    /*
        299
      = 275 (width of when nav looks good on one line)
      - 16  (whitespace in eventcard content:
             3 x 8px padding: one each side, one between columns)
    */
    .eventCard .logo {
        display: inline;
    }

    .eventCard .logo img {
        height: 45px;
        width: 45px;
    }

    .eventCard section {
        display: table-cell;
        padding: 8px 8px 8px 0;
    }
}

.eventCard .header {
    font-size: 16px;
}

#paginator {
    margin: 0 auto;
    width: 255px;
}

#paginator li {
    text-align: center;
    list-style: none;
    float: left;
    width: 75px;
    padding: 5px;
    display: block;
}

.error {
    color: #c00;
    margin: 10px auto;
}

.table table, .table table#key {
    width: 900px;
    margin-bottom: 35px;
}

.table table th, .table table td {
    border: 1px solid white;
}

.table table th {
    background-color: lightgrey;
    border: 1px solid white;
    text-align:center;
    font-weight: normal;
    vertical-align: middle;
    padding: 3px 0;
}

.table table td {
    color: black;
    padding-top: 3px;
    padding-left: 3px;
}

.table td.time {
    width: 7%;
    background-color: lightgrey;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    color:black;
}

.table td.talk {
    background-color: #5A8EC3;
}

.table td.keynote {
    background-color: #C799CE;
}

.table td.workshop {
     background-color: #F69159;
}

.table td.social {
    background-color: #CAAD90;
}

.table td.related {
    background-color: #5BB068;
}

.table td a {
    color: white;
    text-decoration: none;
}

.table td a span.speaker {
    font-style: italic;
    font-size: 1em;
    color: black;
}

.table td a:hover {
    color: black;
}

.table td a:hover span.speaker {
    color: white;
}

.table h1 {
    margin-bottom: 10px;
    color: #555555;
    font-size: 22px;
    font-weight: normal;
}


.table table#key td {
    color: white;
    width: 20%;
    text-align: center;
}
