h2 {
    border-bottom: 1px dashed #2368af;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #2368af;
}

h2 i {
    margin-top: 7px;
}

.navbar-inner {
    border-top: 5px solid #2368af;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 0;
    box-shadow: none;
}

.navbar .brand img {
    height: 30px;
}

.navbar .brand {
    padding-bottom: 0px;
    margin: 0 auto;
}

.navbar .login {
    background: #2368af;
    padding: 8px 15px;
    margin-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 4px;
}

.navbar .nav > li > a {
    text-shadow: none;
    color: #2368af;
    font-weight: bold;
    border-bottom-left-radius:  8px;
    border-bottom-right-radius: 8px;
}

.navbar .login .btn {
    margin-top: 0px;
}

@media (min-width: 980px) {
    body {
        padding-top: 50px !important; /* 60px to make the container go all the way to the bottom of the topbar */
    }

    .navbar .nav, .nav-bar .login {
        float: right;
    }
}

.blurb {
    font-weight: bold;
    text-align: center;
}

.event-summary {
    margin-bottom: 10px;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.event-summary h3
{
    white-space:   nowrap;
    width:         100%;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.event-summary .links {
    text-align: right;
}

.event-summary .links a {
    width: 50px;
    display: inline-block;
}

.event-summary:hover {
    background-color: #f0f0f0;
    border-radius:  5px;
}
.event-summary:hover .links a {
    color: #08C;
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet*/
@media (max-width: 768px) {
    .event-summary .span1, .row.event.show .logo {
        text-align: center;
    }

    .row h2, .row h3 {
       text-align: center;
    }
}

/* Portrait tablet to landscape and desktop*/
@media (min-width: 768px) and (max-width: 980px) {

}

/* Large desktop*/
@media (min-width: 1200px) {

}