{% extends '/layout.html.twig' %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <p>{{ event.getDescription|format_string|raw }}</p>

    <p>Quicklink: <a href="{{ event.getShortUrl }}">{{ quicklink }}</a></p>
{% endblock %}

