{% extends '/layout.html.twig' %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <p>{{ event.getDescription|format_string|raw }}</p>

    {% if event.getStub %}
    <p>Quicklink: <a href="{{ urlFor('event-quicklink', {"stub": event.getStub}) }}">{{ quicklink }}</a></p>
    {% endif %}


    <div class="row">
        <h2>Comments</h2>
        <ul class="comments">
        {% for comment in event.getComments %}
            {% include '_common/comment.html.twig' %}
        {% endfor %}
        </ul>

        <h2>Add new comment</h2>
        <form id="add-comment" method="POST" action="{{ urlFor('event-add-comment', {'friendly_name': event.getUrlFriendlyName}) }}">
        <div>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment"></textarea>
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit comment">
        </div>
        </form>
    </div>

{% endblock %}

