{% extends '/layout.html.twig' %}

{% use '/Event/_common/form.html.twig' %}

{% block title %}Edit {{ event.getName }} - Joind.in{% endblock %}

{% block body %}
    <h1 class="title">Edit {{ event.name }}</h1>
    <div class="page-header">
        <div class="row event">
            <div class="col-sm-12">
                {% include 'Event/_common/event_nav.html.twig' with {'top_border': false} %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                Edit your event here. The site is aimed at events with sessions, where organisers are looking to
                use this as a tool to gather feedback.
            </p>
            <p>
                Please supply a description of your event in English, we will consider which events fit our intended
                criteria (community event, clear description, intent to gather feedback) before approving; you may
                <a href="{{ urlFor('about') }}">contact us</a> if you have any questions.
            </p>
        </div>
    </div>
    
    <style>
        label.required:after {
            content: ' *'
        }
    </style>
    {{ block('form') }}
{% endblock %}

{% block extraAside %}
    {% if user %}
        <section>
            <h3>Submission tips</h3>
            <p>
                Here's a few tips for submitting events:
            </p>
            <dl>
                <dt>English</dt>
                <dd>
                    Please ensure that the description is in English with a translation below if appropriate.
                    Events without a meaningful description won't be approved.
                </dd>
            </dl>
            <dl>
                <dt>Icon</dt>
                <dd>
                    Please use a square image as an icon for your event; this is needed since the image is shown in a
                    square space here on the site and in the mobile apps.
                </dd>
            </dl>
            <dl>
                <dt>Map</dt>
                <dd>
                    Add the venue location to get a map on the website and apps so people can find you on the day.
                </dd>
            </dl>
            <dl>
                <dt>Call for Papers</dt>
                <dd>
                    If your event has a call for papers, add a link to it and the dates when it will be open.
                </dd>
            </dl>
        </section>
    {% endif %}
{% endblock %}
