{% extends '/layout.html.twig' %}

{% use '/Event/_common/form.html.twig' %}

{% block body %}
    {% if user %}
        <style>
            label.required:after {
                content: ' *'
            }
        </style>
        <h1 class="title">Edit event {{ event.name }}</h1>
        <p>
            Edit your event here. The site is aimed at events with sessions, where organisers are looking to
            use this as a tool to gather feedback.
        </p>
        <p>
            Please supply a description of your event in English, we will consider which events fit our intended
            criteria (community event, clear description, intent to gather feedback) before approving; you may
            <a href="{{ urlFor('about') }}">contact us</a> if you have any questions.
        </p>
    {% endif %}
    {{ block('form') }}
{% endblock %}

