{% extends '/layout.html.twig' %}

{% block title %}Events - Joind.in{% endblock %}

{% block body %}
    {% if user.admin %}
    <nav class="page-nav admin">
        <ul class="nav nav-pills">
            <li><a href="{{ urlFor('events-pending') }}">Pending events</a></li>
        </ul>
    </nav>
    {% endif %}
    <h1 class="title">Upcoming events</h1>
    <div>
        {% for event in events.events %}
            {% include 'Event/_common/summary.html.twig' %}
        {% endfor %}
    </div>
    {% include '_common/pagination.html.twig' with {'pagination': events.pagination} %}
{% endblock %}

{% block extraAside %}
    <section>
        <h3>Submit your event</h3>
        <p>
            Know of an event happening? Let us know! We love to get the word out about
            events the community would be interested in and you can help us spread the word!
        </p>
        <a href="{{ urlFor('event-submit') }}" class="btn btn-primary col-xs-12">Submit</a>
    </section>
{% endblock %}
