{% extends '/layout.html.twig' %}

{% block body %}
    <h1 class="title">Latest events</h1>
    <div>
        {% for event in events.events %}
            {% include 'Event/_common/summary.html.twig' %}
        {% endfor %}
    </div>
    {% include '_common/pagination.html.twig' %}
{% endblock %}
