{% extends '/layout.html.twig' %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <h2>Recent comments</h2>
    {% for comment in talkComments.comments %}
        {% include '_common/comment.html.twig' with {
            'showTalkTitle': true,
            'talkLink': urlForTalk(event.getUrlFriendlyName(), comment.getUrlFriendlyTalkTitle())
        } %}
    {% endfor %}

    {% include '_common/pagination.html.twig' with {'pagination': talkComments.pagination} %}
{% endblock %}
