<?php
$config = array(
    'slim' => array(
        'mode' => 'development',
        'custom' => array(
            'redis' => array(
                'dbIndex' => 2,
            ),
            'apiUrl' => 'https://api.joind.in',
            'googleAnalyticsId' => '',
        ),
        'oauth' => array(
            'client_id' => 'web2',
        ),
    ),
);
