<?php
$config = array(
    'slim' => array(
        'mode' => 'development',
        'custom' => array(
            'apiUrl' => 'http://api.joind.in',
            'flickrApiUrl' => 'http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=1763ca9424eaa901ed6e06a394a51592&format=json&nojsoncallback=1&machine_tags='
        ),
    ),
);
