{% extends '/layout.html.twig' %}

{% block title %}Page not found - Joind.in{%  endblock %}

{% block body %}
    <h1 class="title">Page not found</h1>
    <p>The page you are looking for could not be found.</p>
{%  endblock %}
