{% extends '/layout.html.twig' %}

{% block title %}Page not found - Joind.in{%  endblock %}

{% block body %}
    <h1 class="title">Page not found</h1>
    <p>Sorry, we can't find the page you tried to visit!</p>

    <p>If you were expecting to see our old site, you can visit it at <a href="http://legacy.joind.in">http://legacy.joind.in</a></p>

    <p>Please feel free to <a href="/contact">contact us</a> to tell us what went wrong</p>
{%  endblock %}
