{% extends '/layout.html.twig' %}

{% block title %}Delete API-key - Joind.in{% endblock %}

{% form_theme form _self %}
{% use '/Apikey/_common/deleteform.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="/apikey">API-keys</a></li>
        <li class="active">Delete API-key</li>
    </ol>

    <div class="page-header">
        <div class="row event">
            <div class="col-xs-12 col-sm-12 title">
                <h1>
                    Delete API-key for "{{ apikey.getApplicationName }}"
                </h1>
            </div>
        </div>
    </div>
    {{ block('form') }}
{% endblock %}