{% if 0 != event.getAttendeeCount %}
    | <span class="{{ event.getUrlFriendlyName|escape }}-attending-count">{{ event.getAttendeeCount|escape }}</span>
    <span class="{{ event.getUrlFriendlyName|escape }}-attending-string">
    {% if event.isPastEvent() %}
        attended
    {% else %}
        attending
    {% endif %}
    </span>

    </span>
{% endif %}
