{% if 0 != event.getAttendeeCount %}
    | {{ event.getAttendeeCount|escape }}
    {% if event.isPastEvent() %}
        attended
    {% else %}
        attending
    {% endif %}

    {% if event.isAttending() %}
        <span class="label label-success">including you</span>
    {% endif %}
{% endif %}