{% if 0 != event.getAttendeeCount %}
    | <span class="event-attending-count">{{ event.getAttendeeCount|escape }}</span>
    {% if event.isPastEvent() %}
        attended
    {% else %}
        attending
    {% endif %}

    <span class="event-user-attending">
    {% if event.isAttending() %}
        (including you)
    {% endif %}
    </span>
{% endif %}
