{% if user %}

    {% if event.isAttending %}
        {% set attendingClasses = 'label label-success' %}
    {% else %}
        {% set attendingClasses = 'btn btn-xs btn-primary' %}
    {% endif %}

    <a href="{{ urlFor('event-attend', {"friendly_name": event.getUrlFriendlyName}) }}" data-is-past="{% if event.isPastEvent %}true{% else %}false{% endif %}" data-friendly-name="{{ event.getUrlFriendlyName|escape }}" class="attending {{ attendingClasses }}">
        {% if event.isAttending %}
            including you
        {% elseif event.isPastEvent %}
            I went to this event
        {% else %}
            I will be attending
        {% endif %}
    </a>
{% endif %}
