<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Joind.in{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>#}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_headers %}{% endblock %}
    <link rel="shortcut icon" href="/images/favicon.ico">
    {#<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">#}
    {#<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">#}
    {#<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">#}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> </a>
            <a class="brand" href="#">
                <img src="http://joind.in/inc/img/logo.png"/>
            </a>

            <div class="nav-collapse">
                <form class="login form-inline" style="float: right">
                  <input type="text" class="input-small" placeholder="Email">
                  <input type="password" class="input-small" placeholder="Password">
                  <button type="submit" class="btn">Go</button>
                </form>

                <ul class="nav">
                    <li class="active"><a href="#events">Events</a></li>
                    <li><a href="#talks">Talks</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#help">Help</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" id="ctn">

    {% block page_header %}
    <div class="row">
        <div class="span12">
            <div id="carousel" class="carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                    <img src="/img/carousel/1.jpg"/>
                    <div class="carousel-caption">
                        <h4>Test</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel/3.jpg" />
                    <div class="carousel-caption">
                        <h4>Test</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel/2.jpg" />
                    <div class="carousel-caption">
                        <h4>Test</h4>
                    </div>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block body %}{% endblock %}
</div>

</body>
</html>