{% extends '/layout.html.twig' %}

{% block body %}
    <h1 class="title">What Is Joind.In?</h1>

    <p>Do you love being involved at tech conferences? Do you love contributing your feedback on the talks you're attending, seeing who else is there? Do you want to catch up on the talks you attended (or missed)?</p>

    <p>Joind.In does all this, helping you be a real part of the conference before, during and afterwards. It is the replacement for all those paper submission forms that get left on the floor at the end of an event. The site gives details of events past, present and future, the sessions, timetable and speakers at each, and allows all attendees to register and leave feedback - for the sessions and for the event itself.</p>

    <h2>Got Something To Say?</h2>

    <p>If you have any comments, questions, feedback or anything else you'd like us to know, then do <a href="mailto:feedback@joind.in">please get in touch</a>. We'd be delighted to hear from you!</p>

    <div class="clearfix"></div>

{% endblock %}
