{% extends '/layout.html.twig' %}

{% block title %}About - Joind.in{% endblock %}

{% block body %}

    <h1 class="title">About Joind.in</h1>

    <p>Joind.in brings attendee feedback to speakers at events, quickly and transparently.  Getting feedback lets speakers improve, attendees be heard, and organisers find out what really works (and doesn't!) at their events.  All this means ... better events and speakers!</p>

    <p>Some highlights of using joind.in with your event:
    <ul><li>Let us know your CfP dates and we'll help spread the word.  Other organisations use our data feed and we also run <a target="_blank" href="https://callingallpapers.com">https://callingallpapers.com</a></li>
    <li>Schedule view: with your talks entered, people can use joind.in to view the schedule by track or in agenda layout</li>
    <li>Speakers get great feedback and improve every year - having this feature means a lot to them</li></ul>

    <h2>Event Organisers</h2>

    <p>If you want to use joind.in to get feedback to your speakers, then you're welcome to do so! Head over to <a href="{{ urlFor('events-index') }}">the events page</a> and submit your event details.  These are approved by a human (usually within a couple of days) and we'll email you when your event is ready for you to edit.</p>

    <h2>Speakers</h2>

    <p>Claim your talks!  When you're listed as giving a talk, this will be attached to your account when you claim it and the event organiser has approved your claim.  Once claimed, you can edit your talk record to add links to slides and reply to comments by attendees</p>

    <h2>Not For Profit</h2>

    <p>The Joindin Foundation is organized exclusively for charitable, educational, and scientific purposes under Section 501(c)(3) of the Internal Revenue Code, or corresponding Section of any future federal tax code. EIN: 83-3647000.</p>

    <h2>Open Source</h2>

    <p>Joind.in is built and run by volunteers, and is an open source project.  If you want to get involved, we'd be delighted to have you, regardless of who you are or your level of experience - lots of people make their first contributions to open source on this project and we try hard to make it easy to get started with.</p>

    <p>Some important information for working with Joind.in:
    <ul>
        <li>Follow the <a href="https://joindin.wordpress.com/">Joind.in Blog</a> for news and official announcements.</li>
        <li>Joind.in has a <a href="https://github.com/joindin/joindin-web2/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a> for all our projects that all our participants and contributors are required to follow.  You can expect this project to be respectful and welcoming, regardless of your background.</li>
        <li>Look at the bug tracker to report bugs (bug reporting is a very important open source contribution!) and to see what kinds of things we're working on: <a target="_blank" href="https://github.com/joindin/joindin-web2/issues">https://github.com/joindin/joindin-web2/issues</a> for the web application and <a target="_blank" href="https://github.com/joindin/joindin-api/issues">https://github.com/joindin/joindin-api/issues</a> for the API.  Check out the "easypick" issues we have tagged there - these are specifically aimed at people new to the project and don't need too much understanding of how the wider system works.</li>
        <li>You don't need permission to get started, just assign a task to yourself so we know you're working on it.</li>
        <li>Get set up with the development platform, you will need VirtualBox and Vagrant installed, then follow the README here: <a target="_blank" href="https://github.com/joindin/joindin-vm">https://github.com/joindin/joindin-vm</a></li>
        <li>Our various projects each have their own repositories so you can go straight to what you're interested in:
            <ul>
                <li><a target="_blank" href="https://github.com/joindin/joindin-web2">https://github.com/joindin/joindin-web2</a> is the repo for the new website</li>
                <li>The new site uses an API, which is at <a target="_blank" href="https://github.com/joindin/joindin-api">https://github.com/joindin/joindin-api</a></li>
                <li>The old website (maintenance mode, we're unlikely to accept contributions other than security fixes for this one) <a target="_blank" href="https://github.com/joindin/joind.in">https://github.com/joindin/joind.in</a></li>
                <li>Javascript widgets for speakers and events to use on their site: <a target="_blank" href="https://github.com/joindin/JoindIn.js">https://github.com/joindin/JoindIn.js</a></li>
                <li><a target="_blank" href="https://github.com/joindin/joindin-vm">https://github.com/joindin/joindin-vm</a> is the dev platform VM setup</li>
                <li>We are also responsible for <a target="_blank" href="https://callingallpapers.com">https://callingallpapers.com</a> - the code is at <a target="_blank" href="https://github.com/joindin/callingallpapers.com">https://github.com/joindin/callingallpapers.com</a></li>
            </ul>
        </li>
    </ul>

    <p>If you're not sure where in that huge list to get started, or you want to chat to us, then the best place to find us is on Slack.  You can join via <a href="https://join.slack.com/t/joindin/shared_invite/enQtNzY2MTEzOTU3ODkwLTMzNTc3ZDFlNTAxMTc2ZjliYjAzNDExZTkzM2NmZDFjYjcyMjNkMWYzMjNhZjE4MzA1MTljZDk2NzNiMzk5MjU">Joindin Slack</a>, feel free to pop in and talk to us anytime!</p>

    <h2>Logos</h2>

    <p>Need a copy of the Joind.in logo? Find the one you need on our <a href="{{ urlFor('assets') }}">assets page</a>.</p>

    <h2>Get In Touch</h2>

    <p>If you have any comments, questions, feedback or anything else you'd like us to know, then do <a href="{{ urlFor('contact') }}">please get in touch</a>. We'd be delighted to hear from you!</p>


    <h2>Thank you</h2>

    <p>
        This project is made possible by these people:
    </p>


    <div class="clearfix"></div>

{% endblock %}

{% block bottomAside %}
    {% include 'Event/list-upcoming-events.html.twig' %}
{% endblock %}
