{% extends '/layout.html.twig' %}

{% block body %}
<h1 class="title">Mobile apps</h1>
<div>
<p>In addition to the website, we also have two mobile apps that you can use:</p>
<ul>
    <li><a href="http://play.google.com/store/apps/details?id=in.joind">Joind.in for Android</a></li>
    <li><a href="https://itunes.apple.com/app/joind-in/id355184913?mt=8">Joind.in for iPhone</a></li>
</ul>
</div>
{% endblock %}
