{% extends '/layout.html.twig' %}

{% block title %}Apps - Joind.in{% endblock %}

{% block body %}
<h1 class="title">Mobile apps</h1>

<p>In addition to the website, we also have two mobile apps that you can use:</p>

<div class="row apps">
    <div class="col-sm-6">
        <h2><a href="http://play.google.com/store/apps/details?id=in.joind">Joind.in for Android</a></h2>
        <a href="http://play.google.com/store/apps/details?id=in.joind">
            <img src="/img/app-android.png" width="250" height="444" />
        </a>
        <br><br>
        <a href="http://play.google.com/store/apps/details?id=in.joind">
            <img src="/img/android-app-store-icon.png" width="250" height="82" style="border: none;" />
        </a>
    </div>
    <div class="col-sm-6">
        <h2><a href="https://itunes.apple.com/app/joind-in/id355184913?mt=8">Joind.in for iPhone</a></h2>
        <a href="https://itunes.apple.com/app/joind-in/id355184913?mt=8">
            <img src="/img/app-iphone.jpg" width="250" height="443" />
        </a>
        <br><br>
        <a href="https://itunes.apple.com/app/joind-in/id355184913?mt=8">
            <img src="/img/apple-app-store-icon.png" width="250" height="86" style="border: none;" />
        </a>
    </div>
</div>

{% endblock %}


{% block bottomAside %}
    {% include 'Event/list-hot-events.html.twig' %}
{% endblock %}
