{% extends '/layout.html.twig' %}

{% block title %}Apps - Joind.in{% endblock %}

{% block body %}
<h1 class="title">Mobile apps</h1>

<p>We have made the decision to discontinue support for our mobile applications, allowing more time to improve the overall service.</p>

<p>Our next-generation joind.in website (which you are currently using) has many improvements that make using it on a smart phone feel almost like a native app.</p>

{% endblock %}


{% block bottomAside %}
    {% include 'Event/list-hot-events.html.twig' %}
{% endblock %}
