{% extends '/layout.html.twig' %}

{% block title %}Assets - Joind.in{% endblock %}

{% block body %}

    <h1 class="title">Assets</h1>

    <p>You are welcome to use our logo. If you are planning on making money off of our logo
        (e.g. you want to make merchandise for sale with the logo ... t-shirts, coffee mugs, etc.),
        then you need to <a href="{{ urlFor('contact') }}">contact us</a> for licensing information.
        For pretty much all other uses, there is no licensing requirement. For example:
        a logo on your website showing that you use/promote Joind.in, even commercial websites;
        course materials; a bunch of t-shirts for your own use and some friends, or your user group;
        a banner for your event; etc.. If in doubt, <a href="{{ urlFor('contact') }}">ask</a>.
        However do not use the logo in such a way, that it suggests that a particular
        person, company, course, etc. is endorsed by Joind.in.</p>

    <div class="assets">
        <img src="/img/asset_logos/logo-400-100.png" alt="Joind.in Logo">
        <div class="clearfix"></div>
    </div>

    <div class="assets">
    <h2>Download Logo PNG files</h2>
    <a class="btn btn-default" href="/img/asset_logos/logo-1200-300.png" download>1200px 300px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-800-200.png" download>800px 200px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-400-100.png" download>400px 100px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-200-50.png" download>200px 50px</a>
    </div>

    <div class="assets">
    <h2>Download Logo JPG files</h2>
    <a class="btn btn-default" href="/img/asset_logos/logo-1200-300.jpg" download>1200px 300px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-800-200.jpg" download>800px 200px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-400-100.jpg" download>400px 100px</a>
    <a class="btn btn-default" href="/img/asset_logos/logo-200-50.jpg" download>200px 50px</a>
    </div>

    <div class="assets">
        <h2>Download Logo EPS file</h2>
        <a class="btn btn-default" href="/img/asset_logos/logo.eps" download>EPS</a>
    </div>

    <div class="clearfix"></div>

{% endblock %}

{% block bottomAside %}
    {% include 'Event/list-upcoming-events.html.twig' %}
{% endblock %}
