{% extends '/layout.html.twig' %}

{% block title %}Assets - Joind.in{% endblock %}

{% block body %}

    <h1 class="title">Assets Joind.in</h1>

    <p>You can’t modify the logo or use it imply that joind.in endorses anything</p>

    <div class="clearfix"></div>

{% endblock %}

{% block bottomAside %}
    {% include 'Event/list-hot-events.html.twig' %}
{% endblock %}
