{% extends '/homepage-layout.html.twig' %}

{% block body %}
    <h1>Hot Events</h1>
    {% for event in events.events %}
        {% include 'Event/_common/summary.html.twig' %}
    {% endfor %}
    <div class="col-xs-12">
        <a href="/event" class="btn btn-block btn-lg">See more events <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
{% endblock %}

{% block topAside %}
    <section>
        <h2>Welcome</h2>
        <p>Welcome to joind.in! This is the site where event attendees can leave feedback on an event and its sessions. Do you have an opinion? Then <a href="http://joind.in/user/register">register an account</a> and share it!</p>
    </section>
{% endblock %}

{% block extraAside %}
{% endblock %}
