{% extends '/layout.html.twig' %}

{% block body %}
    <h2 class="title">Hot Events</h2>

    <div class="row highlights">
        <div class="span8">
            <div>
                {% for event in hot_events %}
                    {% include 'Application/_summary.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
