{% extends '/layout.html.twig' %}

{% block body %}
    <h1>Hot Events</h1>
    {% for event in events.events %}
        {% include 'Event/_common/summary.html.twig' %}
    {% endfor %}
    <div class="col-xs-12">
        <a href="/event" class="btn btn-block btn-lg">See more events <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
{% endblock %}
