{% extends '/layout.html.twig' %}

{% block title %}Not allowed - Joind.in{% endblock %}

{% block body %}
    <h1 class="title">Not allowed</h1>

    <p>We're sorry, but you are not authorised to do that.</p>

{% endblock %}
