DirectorySlash Off

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

# Add Security Headers
<IfModule mod_headers.c>
  # Protect against XSS attacks
  Header set X-XSS-Protection "1; mode=block"

  # Protect against page-framing and click-jacking
  Header set X-Frame-Options SAMEORIGIN

  # Protect against content-sniffing or prevent mime based attacks
  Header set X-Content-Type-Options nosniff
</IfModule>

RewriteRule ^inc/img/rating-(\d)\.gif$ img/avg-rating-$1.png [L]

# Send 410 for /feed*
RewriteRule ^feed - [NC,G,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
